.DS_Store

*.xpr
.idea
.eggs
.env

# Build results
target/
/publish-docs/
/www/output/
/generated/
.doctrees

build/
_build/
/build-*.log.gz
*.pdf
glossary.rst
*.mo
api-docs/_build/
api-docs/build

# Python compiled files
*.pyc

# Ignore Vagrant Related Files
acceptance_config.yml
boxes/*
/.vagrant

# Testenvironment
.tox/

# Editors
*~
.*.swp
.bak
/.project
node_modules
.vscode
